html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.6rem;
    color: rgb(233, 233, 233);
    background-color: rgb(25, 25, 31);
}
main{
    min-height: 100vh;
}
.container{
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-beteewn{
    justify-content: space-between;
}
.title{
    margin-bottom: 3rem;
    text-align: center;
    font-weight: bold;
    color: rgb(126, 126, 126);
}

/*Estilos password*/
.password{
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    background-color: rgb(50, 52, 68);
}
.password__text{
    font-weight: bold;
    color: rgb(233, 233, 233);
}

/*Estilos form*/
.form{
    padding: 2rem;
    background-color: rgb(50, 52, 68);
}
.form__range{
    appearance: none;
    width: 100%;
    height: .8rem;
    color: aquamarine;
    background-color: aquamarine;
}

/*Estilos control*/
.control{

}
.control__number{
    font-weight: bold;
    font-size: 2.4rem;
    color: aquamarine;
}